html {
  font-size: 15px;
  font-family: 'Syne Mono', monospace;
}

p, li {
  font-size: 15px;    
  line-height: 2;
  letter-spacing: 2px;
}

html {
  background-color: gainsboro;
}

body {
  width: 550px;
  margin: 0 auto;
  background-color: gainsboro;
  padding: 0 25px 25px 25px;
  border: 10px solid black;
}

h1 {
  margin: 0;
  font-size: 35px;
  text-align: center;
  padding: 20px 0;    
  color: darkred;
  text-shadow: 3px 3px 1px black;
}

img {
  display: block;
  margin: 0 auto;
}
